<%- include('../includes/head.ejs') %>
</head>
  <link rel="stylesheet" href="/css/main.css">
<body>
    <%- include('../includes/navigation.ejs') %>
   
    <h1 class="centered" style="color: rgb(224, 143, 2);">Please  Login to proceed</h1>
    <div class="centered">
    <a href="/login" class="btn">Login</a>
    </div>
<%- include('../includes/end.ejs') %>